<div class="">
  <div class="list-group">
    <div class="list-group-item">
      Filters
    </div>
  </div>
</div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Catagories 
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

    <!-- <div class="list-group-item" data-toggle="collapse" data-target="#price-content">price</div>
    <div class="collapse" id="price-content">
        <div class="card">
          <div class="card-body">
            <mat-slider></mat-slider>
          </div>
        </div>
    </div> -->
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Price 
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-slider></mat-slider>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                 Customer Rating
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Offer
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Languages
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Discount
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Binding
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Age Group 
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="custom-font-size">
                Latest Arrivals 
              </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
 

