<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container">
      <a href="#" class="navbar-brand" [routerLink]="['/']"> <img src="../../assets/booklogo.svg" width="40px" height="40px" alt=""> BookShop</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#mycollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mycollapse">
          <ul class="navbar-nav ml-auto">
                  <li class="nav-item ml-3">
                      <a href="#" class="nav-link" [routerLink]="['/']" routerLinkAction="active">Home</a>
                  </li>
                  <li class="nav-item ml-3">
                      <a href="#" class="nav-link" [routerLink]="['books']" routerLinkAction="active">Books</a>
                  </li>
                  <li class="nav-item ml-3">
                      <a href="#" class="nav-link" [routerLink]="['login']" routerLinkAction="active">Login</a>
                  </li>
                  <li class="nav-item ml-3">
                    <a href="#" class="nav-link" [routerLink]="['signup']" routerLinkAction="active">SingUp</a>
                </li>
                  <li class="nav-item ml-3">
                      <a href="#" class="nav-link" [routerLink]="['ContactUs']">ContactUs</a>
                  </li>
          </ul>
      </div>
  </div>
</nav>