<div class="container-fluid custom-margin">
    <div class="row">
        <div class="col-3">
            <app-filtercontrols></app-filtercontrols>
        </div>
        <div class="col-9 bg-white">
            <app-books>    
            </app-books>
        </div>
      </div>
</div>
<app-footer></app-footer>

<!-- <mat-sidenav-container>
  <mat-sidenav mode="side" opened> side content</mat-sidenav>
  <mat-sidenav-content>
    <app-book></app-book>
  </mat-sidenav-content>
</mat-sidenav-container> -->